#fkh {
    display: flex;
    width: 100%;
    height: 1.5rem;
    margin: -1rem 0 1.4rem 0;
    line-height: 2rem;
    position: sticky;
    top: 50px;
    z-index: 99;
}

#fkh *,
.content-comic .content-meta * {
    transition-duration: 0.2s;
}

#fkh input[type=button],
.content-comic .content-meta .row[id^=comic] input[type=button] {
    background: #0a9d54;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    opacity: 0.7;
}

#fkh input[type=button]:hover,
.content-comic .content-meta .row[id^=comic] input[type=button]:hover {
    opacity: 1;
}

#fkh input[type=button]:active,
.content-comic .content-meta .row[id^=comic] input[type=button]:active {
    background: #9d0a0a
}